.snakemake/
results/
logs/
benchmarks/
snakemake.log
*.log
*.err
*.out
*.tmp
*.pid
dag.png
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/
.vscode/
.idea/
.DS_Store

# Ignore genome/indices but keep folder structure if needed
data/02_alignment/bowtie2/index/*
data/reference/*.fa
data/reference/*.gtf
data/reference/*.bed
data/reference/*.sizes
data/fastp/*.fastq.gz
data/fastp/*.fq.gz
